<div class="text-center">
  <form
    class="form-signin"
    #order="ngForm"
    (ngSubmit)="sendOffer(order.value, order)"
  >
    <div *ngFor="let field of formFields">
      <div class="form-row">
        <div class="col form-group">
          <label for="{{ field.id }}">{{ field.label }} </label>
          <input
            type="text"
            class="form-control"
            name="{{ field.id }}"
            *ngIf="field.id != 'contractText' && field.id != 'price' && field.id != 'deposit'"
            value="{{ field.value.value }}"
            readonly
          />
          <input
            type="text"
            class="form-control"
            name="{{ field.id }}"
            *ngIf="field.id == 'contractText' || field.id == 'price' || field.id == 'deposit'"
            ngModel
          />
        </div>
      </div>
    </div>
    <input
      type="submit"
      id="button"
      class="btn btn-lg btn-primary btn-block"
      value="Send"
    />
  </form>
</div>
