<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="loggedIn" id="right">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="navbar-brand">Home</a>
        </li>
        <li class="nav-item" id="right" *ngIf="isloggedClient">
          <a class="nav-link" [routerLink]="['/order-car']" routerLinkActive="navbar-brand">Order Car</a>
        </li>
        <li class="nav-item" id="right" *ngIf="!loggedIn">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="navbar-brand">Login</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" (click)="logOut()" routerLinkActive="navbar-brand" id="right">Logout</a>
        </li>
      </ul>
    </div>
  
  </nav>